<div class="form-container">
    <h2>Creer un Pirate</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="name">Name :</label>
        <input type="text" id="name" [(ngModel)]="pirate.name" name="name" required>

        <label for="description">Description :</label>
        <input type="text" id="description" [(ngModel)]="pirate.description" name="description" required>

        <label for="img">ImageUrl</label>
        <input type="text" id="img" [(ngModel)]="pirate.img" name="img" required>

        <label for="prime">Prime :</label>
        <input type="text" id="prime" [(ngModel)]="pirate.prime" name="prime" required>

        <label for="crewChoice">
            Equipage
        </label>
        <select id="crewChoice" [(ngModel)]="pirate.equipageId" name="crewChoice" required>
            <option *ngFor="let equipage of equipages" [value]="equipage.id">
                {{ equipage.name }}
              </option>
        </select>
          
        <button type="submit">Créer</button>

    </form>
</div>